

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - WibuAnimeList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    @*<link rel="stylesheet" href="~/Library/Bootstrap/css/bootstrap.min.css">*@

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    @*<script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>
    @*<link rel="stylesheet" href="~/Library/Bootstrap/css/bootstrap.min.css">*@
</head>
<body style="background-image: url('/Content/Backgrounds/bg-15.jpg');">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">

        </div>


        <div class="col-md-3 pull-right">
            <a type="button" href="@Url.Action("Login", "Authentication")" class="btn btn-primary ">Login</a>

            <a type="button" href="@Url.Action("Register", "Authentication")" class="btn btn-success ">Sign Up</a>
        </div>


    </nav>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-register100">
                <form class="login100-form validate-form" action="@Url.Action("Register", "Authentication")">
                    <span class="login100-form-logo">
                        <img src="images/lilo.png" width="100" height="100">
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Sign Up
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="registerUsername" placeholder="Username" required>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter Full name">
                        <input class="input100" type="text" name="registerFullname" placeholder="Full name" required>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" onchange="ValidateEmail()" data-validate="Enter Email">
                        <input class="input100" id="email" type="text" name="registerEmail" placeholder="Email">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" id="registerPassword" type="password" name="registerPassword" placeholder="Password" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter confirm password">
                        <input class="input100" type="password" id="repass" onchange="checkPass()" name="repass" placeholder="Confirm Password" required>
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="button-sign" class="login100-form-btn " disabled>
                            Sign Up
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>


    <script>
        $('#email').blur(function () {
            var email = $(this).val();
            if (re.test(email)) {

            } else {
                alert("Not a valid email address")
            }

        });
        function checkPass() {
            if ($("#repass").val() == $("#registerPassword").val()) {
                $("#button-sign").removeAttr("disabled");
            } else {
                alert("Please check confirm password")
                $("#button-sign").prop("disabled", true);
            }
        }
        ;
    </script>
</body>
</html>