
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FDMSWeb.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .img-thumbnail {
            padding: 0 !important;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            max-width: 100%;
            height: auto;
        }
    </style>
    <title>Wibu Anime List</title>
</head>
<body class="container">
    <div class=""><p></div>
    <div class="row mb-3 ">

        @if (@ViewBag.listAnime != null && @ViewBag.listAnime.Count != 0) { 

        foreach (FDMSWeb.Models.Anime anime in ViewBag.listAnime)
        {
                <div class="col-md-3">
                    <div class="card " style="margin: 2%;" title="">
                        <a href="ViewAnime/@anime.Id">
                            <div class="card-body">
                                <img class="img-thumbnail" style="width: 200px;height: 280px" src="~/Content/Images/Posters/@anime.Poster" style="max-height: 100%; max-width: 100%">
                            </div>

                            <div class="card-footer" style="text-align: center;" title="">
                                @if (anime.Name.Length > 20)
                                {
                                    <span>@anime.Name.Substring(0, 20)</span>
                                }
                                else
                                {
                                    @anime.Name
                                }
                            </div>
                        </a>
                    </div>
                </div>

            }
        }
    </div>

    <div class="" style="text-align: center;">

        <a href="" class="btn btn-secondary btn-icon-split">
            <span class="text">Show All</span>
        </a>
    </div>
</body>
</html>

