@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
@using FDMSWeb.Models
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .img-thumbnail {
            padding: 0 !important;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: .25rem;
            width: 225px;
            height: 320px;
            max-height: 100%;
            max-width: 100%;
        }

        .card{
            margin: 3%;
        }

        .card-body{
            padding: 0.5rem;
            text-align: center;
        }

        .card-footer {
            text-align: center;
        }
    </style>
    <title>Wibu Anime List</title>
</head>
<body class="container">
    <div class="row mb-3">
        @if (@ViewBag.listAnime != null && @ViewBag.listAnime.Count != 0)
        {

            foreach (FDMSWeb.Models.Anime anime in ViewBag.listAnime)
            {
                <div class="col-md-3">
                    <div class="card">
                        <a href="Anime/ViewAnime/@anime.Id">
                            <div class="card-body">
                                <img class="img-thumbnail" src="~/Content/Images/Posters/@anime.Poster">
                            </div>

                            <div class="card-footer">
                                @if (anime.Name.Length > 20)
                                {
                                    <span>@anime.Name.Substring(0, 20)...</span>
                                }
                                else
                                {
                                    @anime.Name
                                }
                            </div>
                        </a>
                    </div>
                </div>

            }
        }
    </div>

    <div class="text-center mb-3">
        <a href="Anime/ShowAll" class="btn btn-secondary btn-icon-split">
            <span class="text">Show All</span>
        </a>
    </div>
</body>
</html>
